{# full-video.html#}
<!-- Full Video Layout-->

{% set image = './image/overlay.jpg' %}
{% set title = 'Add a little movement to your lookbook' %}
{% set description = 'Embed your vimeo or CDN hosted videos into your lookbook. You\'\ll have the selection of changing the poster image and adding share video links from video streaming sites like Youtube. ' %}

<div id="full-image-layout" class="section row" data-anchor="slide6">
<div class="photo-container col-lg-12 col-md-12 col-sm-12">
    <img class="photo-full" src="{{ image }}">
    {% include "../fragments/full-content-box.html" %}
</div>
</div>  


